// Lus v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================


// Reset List
// Resets default list styling.

@mixin __info_reset_list {
	@debug "[INFO]
	The `reset_list` mixin resets the element to have 
	zero margin or padding and `list-style: none`.
	Type  : Included Mixin
	Params: none
	";
}

@mixin reset_list($info: null) {
	@if $info {
		@include __info_reset_list;
	}
	@else {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

// -------------------------------------

// Nav List Reset
// Resets Lists and adds display: inline-block if nav is horizintal

@mixin __info_reset_nav_list {
	@debug "[INFO]
	The `reset_nav_list` mixin can be added to the `nav li` element to reset
	the default `li` styling using mixin `reset_list`.
	Type  : Included Mixin
	Params:
	- $orientation: Optional. Defaults to horizontal.
	-               horizontal - sets the element to `inline-block`
	-               vertical - to keep it as a `block` for vertical nav
	";
}

@mixin reset_nav_list($orientation: horizontal) {
	@if $orientation == "info" {
		@include __info_reset_nav_list;
	}
	@else {
		@if $orientation == "horizontal" {
			display: inline-block;
		}
		@include reset_list;
	}
}


// ===================================================================
// Tests
// ===================================================================

@mixin __test_reset_list {
	@if $output_test_message { @debug "[TESTING] `reset_list`"; }
	/* `reset_list` --------------------- */
	/*
	.test.reset_list {
		@include reset_list;
	}
	*/
	.test.reset_list {
		@include reset_list;
	}
	/* End `reset_list` ----------------- */
}

@mixin __test_reset_nav_list {
	@if $output_test_message { @debug "[TESTING] `reset_nav_list`"; }
	/* `reset_nav_list` ----------------- */
	/*
	.test.reset_nav_list {
		@include reset_nav_list;
	}
	*/
	.test.reset_nav_list {
		@include reset_nav_list;
	}
	/* End `reset_nav_list` ------------- */
}