// Base styles for html and body
//
// <html> : yis.li/html-html
// *      : yis.li/html-wildcard
// <body> : yis.li/html-body
// ------------------------------------------------------------------


html
	// 2DO: REVIEW
	height: 100%
	margin: 0
	padding: 0
	// Use border-box for everything
	box-sizing: border-box

// ----------------
// Wildcard

*,
*:before,
*:after
	box-sizing: inherit

// ----------------

body
	// Remove the margin in all browsers.
	margin: 0
	padding: 0
	height: 100%

// ----------------

main
	// Add the correct display in IE.
	display: block


// 2DO: REVIEW
// Add the correct display in IE 9-.
article,
aside,
footer,
header,
nav,
section
	display: block
