// Opinionated Reset for basic form elements
//
// Feel free to move these to a 'forms' partial when it's created
// ------------------------------------------------------------------


input,
textarea
	border: 0
	border-radius: 0
	outline: none
	appearance: none

	&:hover,
	&:active,
	&:focus
		outline: none
