// Miscellaneous HTML5 Tags
//
// <hr>       : yis.li/html-hr
// <canvas>   : yis.li/html-canvas
// <template> : yis.li/html-template
// [hidden]   : yis.li/html-hidden
// ------------------------------------------------------------------


hr
	// Show the overflow in Edge and IE.
	overflow: visible
	// Add the correct box sizing in Firefox. ---
	box-sizing: content-box
	height: 0

// ----------------

canvas
	// Add the correct display in IE 9-.
	display: inline-block

// ----------------

template
	// Add the correct display in IE 10+.
	display: none

// ----------------

[hidden]
	// Add the correct display in IE 10.
	display: none
