// Basic media/object tags and opinionated reset
//
// <embed>      : yis.li/html-embed
// <iframe>     : yis.li/html-iframe
// <img>        : yis.li/html-img
// <object>     : yis.li/html-object
// <video>      : yis.li/html-video
// <figure>     : yis.li/html-figure
// <figcaption> : yis.li/html-figcaption
// <svg>        : yis.li/html-svg
// <audio>      : yis.li/html-audio
// ------------------------------------------------------------------


img
	// Remove the border on images inside links in IE 10.
	border-style: none

// ----------------

embed,
iframe,
img,
object,
video
	max-width: 100%

// ----------------

audio,
video
	// Add the correct display in IE 9-.
	display: inline-block

// ----------------

audio:not([controls])
	// Add the correct display in iOS 4-7.
	display: none
	height: 0

// ----------------

svg:not(:root)
	// Hide the overflow in IE.
	overflow: hidden

// ----------------

figcaption,
figure
	// Add the correct display in IE 9-.
	display: block


// Add the correct margin in IE 8.
figure
	margin: 1em $base_indent_amount
