// Miscellaneous HTML5 Tags
//
// <hr>       : yis.li/html-hr
// <template> : yis.li/html-template
// [hidden]   : yis.li/html-hidden
// ------------------------------------------------------------------


hr
	// 2. Show the overflow in Edge and IE.
	overflow: visible
	// 1. Add the correct box sizing in Firefox. ---
	box-sizing: content-box
	height: 0

// ----------------

template
	// 1. Add the correct display in IE 10+.
	display: none

// ----------------

[hidden]
	// 1. Add the correct display in IE 10.
	display: none
