// @since: v0.0.5

// Font-Face Mixin
// Adapted from: https://git.io/fAq0z

// @title: Font-Face Mixin
// @since: v0.0.5
// @desc:  A mixin to declare/link fonts for a family with @font-face
// ===================================================================
// 2DO-YG: Add info mixins and tests

$_opsans: $font_base_path + "/OpenSans/";

// Regular
@include font-face(
	'Open Sans',
	#{$_opsans}OpenSans-Regular-webfont, 400, normal, all, OpenSansRegular
);

// Regular Italic
@include font-face(
	'Open Sans',
	#{$_opsans}OpenSans-Italic-webfont, 400, italic, all, OpenSansItalic
);

// Light
@include font-face(
	'Open Sans',
	#{$_opsans}OpenSans-Light-webfont, 200, normal, all, OpenSansLight
);

// Light Italic
@include font-face(
	'Open Sans',
	#{$_opsans}OpenSans-LightItalic-webfont, 200, italic, all, OpenSansLightItalic
);

// Light Italic
@include font-face(
	'Open Sans',
	#{$_opsans}OpenSans-Light-webfont, 200, italic, all, OpenSansLightItalic
);

// Semibold
@include font-face(
	'Open Sans',
	#{$_opsans}OpenSans-Semibold-webfont, 500, normal, all, OpenSansSemibold
);

// Semibold
@include font-face(
	'Open Sans',
	#{$_opsans}OpenSans-Semibold-webfont, 500, normal, all, OpenSansSemibold
);

/* ------------------------------------------------------------------- */
// -------------------------------------------------------------------
// -------------------------------------------------------------------


/* Semibold Italic */
@font-face {
	font-family: 'Open Sans';
	src: url('#{$font_base_path}/OpenSans/OpenSans-SemiboldItalic-webfont.eot');
	src: url('#{$font_base_path}/OpenSans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$font_base_path}/OpenSans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
		url('#{$font_base_path}/OpenSans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
		url('#{$font_base_path}/OpenSans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

/* Bold */
@font-face {
	font-family: 'Open Sans';
	src: url('#{$font_base_path}/OpenSans/OpenSans-Bold-webfont.eot');
	src: url('#{$font_base_path}/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$font_base_path}/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
		url('#{$font_base_path}/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
		url('#{$font_base_path}/OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: bold;
	font-weight: 700;
	font-style: normal;
}

/* Bold Italic */
@font-face {
	font-family: 'Open Sans';
	src: url('#{$font_base_path}/OpenSans/OpenSans-BoldItalic-webfont.eot');
	src: url('#{$font_base_path}/OpenSans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$font_base_path}/OpenSans/OpenSans-BoldItalic-webfont.woff') format('woff'),
		url('#{$font_base_path}/OpenSans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
		url('#{$font_base_path}/OpenSans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
	font-weight: bold;
	font-weight: 700;
	font-style: italic;
}

/* Extra Bold */
@font-face {
	font-family: 'Open Sans';
	src: url('#{$font_base_path}/OpenSans/OpenSans-ExtraBold-webfont.eot');
	src: url('#{$font_base_path}/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$font_base_path}/OpenSans/OpenSans-ExtraBold-webfont.woff') format('woff'),
		url('#{$font_base_path}/OpenSans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
		url('#{$font_base_path}/OpenSans/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
	font-weight: 900;
	font-style: normal;
}

/* Extra Bold Italic */
@font-face {
	font-family: 'Open Sans';
	src: url('#{$font_base_path}/OpenSans/OpenSans-ExtraBoldItalic-webfont.eot');
	src: url('#{$font_base_path}/OpenSans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$font_base_path}/OpenSans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
		url('#{$font_base_path}/OpenSans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
		url('#{$font_base_path}/OpenSans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}
