// @title: Project Settings
// @since: v0.0.5
// @desc:  Use this file to override Luscious defualt configs or create
//         new configs. If overriding a default, remove the `!default`
//         flag. You can remove any default here and the setting will
//         fall back to Luscious' settings.
// @see:   url/to/luscious/documentation
// ===================================================================

// Contents
// 1. Developement
// 2. Base
// 3. Colors
// 4. Animation
// 5. Typography
//   5.1 Font-Stacks
//   5.2 Font Weights
//   5.3 Modular Scale
// 6. Breakpoints
// 7. Z-index Map
// 8. Asset Paths
// 9. Icons
// 10. Grid
// 11. Buttons
// 12. Accessibility
// 13. Hamburger Menus

// --------------------------------------------------------------------


// -------------------------------------
// 1. Developement
// -------------------------------------
// Use pesticide.css to debug layouts. @see: git.io/fAe8o
$pesticide_debug_outlines: false !default;
$pesticide_debug_depth:    false !default;
// CSS Utility Classes for debugging.
$output_dev_color_classes: false !default;


// -------------------------------------
// 2. Base
// -------------------------------------
// HTML Root Font Size (use percent values)
$document_font_size: 100%;
// Based on $document_font_size. (62.5% == 10, 100% == 16)
// Used for Luscious utilities
$rembase: 16;

// Baseline Height
// Used for vertical rhythm and baseline grids
// 2DO-YG: Test and add info - Possibly go back to using rem units
$base_line_height: 24px;

// Used for vertical rhythm (with baseline grids)
// Incremental steps for vr
// 2DO-YG: Test and add info - Possibly go back to using rem units
$baseline-grid: 8px;

// Base Font-Size
$base_font_size: 1rem;

// How much things like lists and blockquotes are indented.
$base_indent_amount: 4rem !default;


// -------------------------------------
// 3. Colors
// -------------------------------------
// Base: All Project colors are built using these.

// Grey Scale
$cl_black  : #1F2D3D !default;
$cl_dark   : #3C4858 !default;
$cl_middle : #8492A6 !default;
$cl_light  : #EFF2F7 !default;
$cl_white  : #F9FAFC !default;

// Brand
$cl_primary   :   #1FB6FF !default;
$cl_primary-dk:   #009EEB !default;
$cl_primary-lt:   #85D7FF !default;
$cl_secondary :   #F24878 !default;
$cl_secondary-dk: #Ef1855 !default;
$cl_secondary-lt: #F5789B !default;

// Feedback
$cl_success   : #13CE66 !default;
$cl_warning   : #FFC82C !default;
$cl_alert     : #FF4949 !default;

// ----------------
// UI Colors: These colors are the ones used throughout the project files

// Default
$cl_bg             : $cl_white      !default;
$cl_text           : $cl_black      !default;
$cl_border         : $cl_light      !default;
$cl_text-highlight : #ff0           !default;
$cl_link           : $cl_primary    !default;
$cl_link-hover     : $cl_primary-dk !default;

// Nav
$cl_nav-bg         : $cl_primary    !default;
$cl_nav-text       : $cl_white      !default;
$cl_nav-active     : $cl_secondary  !default;


// ------------------------------------
// 4. Animation
// ------------------------------------

// Timing Function
$base_timing: ease-in-out !default;

// Delay Time
$base_delay: 250ms !default;

// Animation Combined
$base_animation: all $base_delay $base_timing !default;


// -------------------------------------
// 5. Typography
// -------------------------------------

// ----------------
// 5.1 Font-Stacks
// ----------------
// Base: Project font-stacks are built using these as fallback.

// Sans-Serif
$font_stack_sans: ('Helvetica Neue', 'Helvetica', 'Arial', sans-serif,) !default;

// Serif
$font_stack_serif: ('Georgia', 'Times', 'Times New Roman', serif,) !default;

// Monospace
$font_stack_mono: ('Courier New', 'Courier', 'Lucida Typewriter', monospace,) !default;

// ----------------
// UI Font-Stacks: Use these throughout in the project files.

// Default Headings
$font_stack_heading: (
	$font_stack_sans,
) !default;

// Default Body
$font_stack_body: (
	$font_stack_sans,
) !default;

// Default Monospace
$font_stack_code: $font_stack_mono !default;

// ----------------
// 5.2 Font Weights
// ----------------
// @IVAN: Maybe we should remove these variables all-together since the heavily
// depend on what fonts/weights are imported in the project?
$fw_light  : 300 !default;
$fw_normal : 400 !default;
$fw_medium : 500 !default;
$fw_bold   : 700 !default;

// ----------------
// 5.3 Modular Scale
// ----------------
// 2DO-YG: Test and add info
$ms-base          : 1em;
$ms-ratio         : 1.5;
$modularscale     : (
	base: $base_font_size,
	ratio: 1.33
) !default;


// -------------------------------------
// 6. Breakpoints
// -------------------------------------
// Use `em` units as they are the most consistent
// for media queries across browsers
$breakpoints: (
	xs : 37.437em, // 599px
	sm : 37.5em ,  // 600px
	md : 61.875em, // 990px
	lg : 75em,     // 1200px
	xl : 112.5em,  // 1800px
) !default;


// -------------------------------------
// 7. Z-index Map
// -------------------------------------
// 2DO-YG: Possibly remove the map in-favor of regular variables
$z_index: (
	nosebleed    : 9999,
	tooltip      : 600,
	popup        : 500,
	popup_bg     : 400,
	nav          : 300,
	footer       : 200,
	scrim        : 100,
	overlay_base : 100,
	base         : 1,
	bottomless   : -9999,
) !default;


// -------------------------------------
// 8. Asset Paths
// -------------------------------------
// Path to the root images & fonts folders
$img_base_path: '../images' !default;
$font_base_path: '../fonts' !default;


// -------------------------------------
// 9. Icons
// -------------------------------------
// Font-Awesome
$fa-font-path:        $font_base_path  !default;
$fa-font-size-base:   1.4rem           !default;
$fa-line-height-base: 1                !default;
$fa-css-prefix:       fa               !default;
$fa-border-color:     $cl_white        !default;
$fa-inverse:          $cl_white        !default;
$fa-li-width:         (30em / 14)      !default;


// -------------------------------------
// 10. Grid - Susy Config
// -------------------------------------
// This variables override the !default variables declared in Luscious.
// All the $susy map options were turned into variables so that they can
// be controled from here.
// @see: goo.gl/Ak5Bo8

$base_grid_columns: 6;
$base_grid_gutters: 0.25;
$base_grid_spread: 'narrow';
$base_grid_container-spread: 'narrow';
// @IVAN: Can you add a really short description for what each one of these does?


// -------------------------------------
// 11. Buttons
// -------------------------------------
// Decide if buttons are solid or hollow by defualt
$button_fill: solid !default;

// Default border-width for buttons
$button_border_width: .1rem !default;

// Default hover style
$button_hover: lighten !default; // Sass color functions: goo.gl/Qdc0rM
$button_hover_amount: 30% !default;

// Hollow Button
$button_hollow_border_width: $button_border_width !default;
// $button_hollow_hover: -50%;

// Disabled Buttons
$button_disabled_opacity: .4 !default;

// Set default button to primary
$button_default_style: primary !default;

$button_styles: (
	default: (
		width: auto,
		margin: .4rem,
		padding: .8rem,
		font-family: inherit,
		font-size: 1rem,
		font-weight: 600,
		line-height: 1,
		text-decoration: none,
		text-transform: none,
		text-align: center,
		transition: all 250ms ease-in-out,
		border-width: $button_border_width,
		border-style: solid,
		border-color: transparent,
		border-radius: 0px,
	),
	primary: (
		color: $cl_white,
		background-color: $cl_primary,
	),
	secondary: (
		color: $cl_white,
		background-color: $cl_secondary,
	),
	light: (
		color: $cl_black,
		background-color: $cl_white,
		border-color: $cl_black,
	),
	dark: (
		color: $cl_white,
		background-color: $cl_black,
	),
) !default;


// ------------------------------------
// 12. Accessibility
// ------------------------------------
// Colors
$a11y_attention: darken(red, 5%)                  !default;
$a11y_light: #ffffff                              !default;
// Z-index
$a11y_zindex: map-get($z_index, nosebleed) + 1000 !default;


// -------------------------------------
// 13. Hamburger Menus
// -------------------------------------
// TODO: Fix this. Removing Hamburgers until they are fixed
// Sizes (in rem)
// $burger-padding-x                       : 1.5rem !default;
// $burger-padding-y                       : 1.5rem !default;
// $burger-layer-width                     : 4rem   !default;
// $burger-layer-height                    : .4rem  !default;
// $burger-layer-spacing                   : .6rem  !default;
// $burger-layer-border-radius             : .4rem  !default;
//
// // Settings
// $burger-layer-color                     : $cl_nav-text     !default;
// $burger-background-color                : transparent !default;
// $burger-hover-opacity                   : 0.7         !default;
// $burger-hover-transition-duration       : 0.15s       !default;
// $burger-hover-transition-timing-function: linear      !default;
