// Quick and dirty hacks, because hacks happen.
//
// Rules for hacks:
// 1. put all hacks/quick fixes here if possible.
// 2. Document the hack and what other parts of the code it might relate to.
// 3. If you're not the only person working on the project,
//    add your name or initials and date to the hack.
// 4. Try to clean out this file and integrate the code when you can.
//
// ===================================================================



// .scrim
	content: "This is text."
	background: transparentize(seagreen, .5)
	position: absolute
	width: 100%
	height: 100%
	display: inline


// .img-scrim::before
// 	content: "This is text."

// ------------------------------------------------------------------
// ------------------------------------------------------------------

main
	+clearfix

img.alignleft
	float: left
	margin-right: r(10)

img.alignright
	float: right
	margin-left: r(10)

img.aligncenter
	display: block
	+h(margin, auto)


.alignleft
	text-align: left

.alignright
	text-align: right

.aligncenter
	text-align: center

.alignjustify
	text-align: justify

// Add justify left/right classes
