// Lus v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================


// Bootstrap style quick float mixins and utility classes

@mixin __info_pull {
	@debug "[INFO]
	The `pull` mixin simply declares `float: left or right` Like
	Bootstrap `https://goo.gl/KbpwNs` but without `!important`
	Type  : Included Mixin
	Params:
	$direction: Required. Accepts either `left` or `right`
	";
}

@mixin pull($val) {
	@if $val == "info" {
		@include __info_pull;
	}
	@else {
		@if $val == "left"  { float: left;  }
		@if $val == "right" { float: right; }
	}

}


// -------------------------------------------------------------------
// Utility Classes
// -------------------------------------------------------------------
// Global Utility Class Prefix
$utility_class_prefix: 'u_' !default;

// Output Utility classes with a mixin
@mixin __info_pull_utility_classes {
	@debug "[INFO]
	The `pull_utility_classes` mixin creates `.#{$utility_class_prefix}left`
	and `.#{$utility_class_prefix}right` utility classes
	using the `pull` mixin.
	Utility classes can also be turned on from `settings/utility_classes`.
	Type  : Standalone Mixin
	Params: none
	";
}

@mixin pull_utility_classes($info: null) {
	@if $info {
		@include __info_pull_utility_classes;
	}
	@else {
		.#{$utility_class_prefix}left  { @include pull(left);  }
		.#{$utility_class_prefix}right { @include pull(right); }
	}
}



// ===================================================================
// Tests
// ===================================================================

@mixin __test_pull {
	@if $output_test_message { @debug "[TESTING] `pull`"; }
	/* `pull` --------------------------- */
	/*
	.test.pull_left {
		@include pull(left);
	}
	*/
	.test.pull_left {
		@include pull(left);
	}
	/*
	.test.pull_right {
		@include pull(right);
	}
	*/
	.test.pull_right {
		@include pull(right);
	}
	/* End `pull` ----------------------- */
}


@mixin __test_pull_utility_classes {
	@if $output_test_message { @debug "[TESTING] `pull_utility_classes`"; }
	/* `pull_utility_classes` ----------- */
	/*
	@include pull_utility_classes;
	*/
	@include pull_utility_classes;
	/* End `pull_utility_classes` ------- */
}
