// Lus v0.0.2
// 2DO-Update
//
// Description
// ===================================================================


// Breakpoints used in breakpoint mixins
$breakpoints: (
	xs : 37.437em, // 599px
	sm : 37.5em ,  // 600px
	md : 61.875em, // 990px
	lg : 75em,     // 1200px
	xl : 112.5em,  // 1800px
) !default;
