// Lus v0.0.2
//
// Default environment configs for Luscious
//
// sass-lint:disable class-name-format
// ===================================================================

// Lus-Core Config

$pesticide_debug_outlines:   false !default;
$pesticide_debug_depth:      false !default;
$output_dev_color_classes: false !default;
