// Lus v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================



// Base Breakpoints as Variables
// em sizes based on $html_font_size of 62.5% (embase 10)
$bp_xs : 59.9em !default; // 599px
$bp_sm : 60em   !default; // 600px
$bp_md : 99em   !default; // 990px
$bp_lg : 120em  !default; // 1200px
$bp_xl : 180em  !default; // 1800px

// -------------------------------------

// Base Breakpoints as a Map
$base_bp: (
	xs : $bp_xs,
	sm : $bp_sm,
	md : $bp_md,
	lg : $bp_lg,
	xl : $bp_xl,
) !default;

// Device named sizes (used in declaritive queries)
$device_bp: (
	phone            : map-get($base_bp, xs),
	tablet_portrait  : map-get($base_bp, sm),
	tablet_landscape : map-get($base_bp, md),
	desktop          : map-get($base_bp, lg),
	big_desktop      : map-get($base_bp, xl),
) !default;


// Add the maps together
// **Don't Remove** (Used in core-functions)
$breakpoints: map-merge($base_bp, $device_bp) !default;

// Alias
$bp: $breakpoints !default;