// Lus v0.0.1
//
// Default environment configs for Luscious
//
// sass-lint:disable class-name-format
// ===================================================================

// Lus-Core Config
$production_mode:            false !default;
$pesticide_debug_outlines:   false !default;
$pesticide_debug_depth:      false !default;
$output_dev_color_classes: false !default;
