// Lus v0.0.1
//
// Defines default font stacks and font weights
//
// sass-lint:disable class-name-format
// ===================================================================


//  Default Font-Stacks
// -------------------------------------

// Sans-Serif Font Stack
$font_stack_sans: (
	'Helvetica Neue',
	'Helvetica',
	'Arial',
	sans-serif,
) !default;

// Serif Font Stack
$font_stack_serif: (
	'Georgia',
	'Times',
	'Times New Roman',
	serif,
) !default;

// Monospace Font Stack
$font_stack_mono: (
	'Courier New',
	'Courier',
	'Lucida Sans Typewriter',
	'Lucida Typewriter',
	monospace,
) !default;


// Default Font Weights
// -------------------------------------
$font_weights: (
	light: 300,
	normal: 400,
	medium: 500,
	bold: 700,
) !default;