//- Import all the svg's here
//- -----------------------------------------------------------------

//- +svg_example
include _example-svg

//- ----------------
//- Starter SVG

//- +svg_menu--open
include _burger

//- +svg_menu--close
include _close

//- ----------------
//- Demo SVG

//- +svg_logo
include _logo

//- +svg_gulp
include _gulp

//- +svg_pug
include _pug

//- +svg_sass
include _sass

//- +svg_yarn
include _yarn
