//- Yarn Logo
//- -----------------------------------------------------------------

//- If svg is purely decorative, include aria-hidden='true', otherwise:
//- include aria-labelledby='title-id' in the svg
//- A <title> tag with id='title-id'
//- A <desc> tag

//- ------------------------------------

mixin svg_yarn(titleId, title, desc)
	//- If there's no title args, then it's just meant as decoration and should be hidden from screen-readers
	unless titleId
		- var ariaHidden = 'true';

	//- Give it a default title and description
	unless title
		- var title = 'Yarn Logo';
	unless desc
		- var desc = 'Black circle with a white cat outline in the center';

	//- ----------------

	svg(aria-labelledby=titleId, aria-hidden=ariaHidden, data-name='yarn logo', viewbox='0 0 200 200', role='img', xmlns='http://www.w3.org/2000/svg')

		if titleId
			title(id=titleId)=title
			desc=desc

		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(fill-rule='nonzero')
				g(transform='translate(38.000000, 38.000000)')
					path(d='M62.5,0 C97.007722,0 125,27.992278 125,62.5 C125,97.007722 97.007722,125 62.5,125 C27.992278,125 0,97.007722 0,62.5 C0,27.992278 27.992278,0 62.5,0 Z', fill='#323232')
					path(d='M105.019305,81.4430502 C104.584942,78.0164093 101.689189,75.6515444 97.972973,75.6998069 C92.4227799,75.7722008 87.765444,78.6438224 84.6766409,80.5501931 C83.4700772,81.2982625 82.4324324,81.8532819 81.5395753,82.2635135 C81.7326255,79.4642857 81.5637066,75.796332 80.1158301,71.7664093 C78.3542471,66.9401544 75.9893822,63.9720077 74.3001931,62.2586873 C76.2548263,59.4111969 78.9333977,55.2606178 80.1882239,48.8416988 C81.2741313,43.3638996 80.9362934,34.8455598 78.4507722,30.0675676 C77.9440154,29.1023166 77.0994208,28.4025097 76.0376448,28.1129344 C75.6032819,27.992278 74.7828185,27.7509653 73.1660232,28.2094595 C70.7287645,23.1660232 69.8841699,22.6351351 69.2326255,22.2007722 C67.8812741,21.3320463 66.28861,21.1389961 64.792471,21.6940154 C62.7895753,22.4179537 61.0762548,24.3484556 59.4594595,27.7750965 C59.2181467,28.2818533 59.0009653,28.7644788 58.8079151,29.2471042 C55.7432432,29.4642857 50.9169884,30.5743243 46.8388031,34.9903475 C46.3320463,35.5453668 45.3426641,35.9555985 44.3050193,36.3416988 L44.3291506,36.3416988 C42.2055985,37.0897683 41.2403475,38.8272201 40.0579151,41.9642857 C38.4169884,46.3561776 40.1061776,50.6756757 41.7712355,53.4749035 C39.5028958,55.5019305 36.4864865,58.7355212 34.8938224,62.5241313 C32.9150579,67.2055985 32.6978764,71.7905405 32.7702703,74.2760618 C31.0810811,76.0617761 28.4749035,79.4160232 28.1853282,83.1805019 C27.7992278,88.4411197 29.7055985,92.0125483 30.5501931,93.3156371 C30.7915058,93.7017375 31.0569498,94.015444 31.3465251,94.3291506 C31.25,94.980695 31.2258687,95.6805019 31.3706564,96.4044402 C31.6843629,98.0936293 32.746139,99.469112 34.3629344,100.337838 C37.5482625,102.027027 41.988417,102.750965 45.4150579,101.037645 C46.6457529,102.340734 48.8899614,103.59556 52.9681467,103.59556 L53.2094595,103.59556 C54.2471042,103.59556 67.4227799,102.895753 71.2596525,101.954633 C72.972973,101.544402 74.1554054,100.820463 74.9276062,100.168919 C77.3889961,99.3967181 84.1940154,97.0801158 90.6129344,92.9295367 C95.1496139,89.9855212 96.7181467,89.3581081 100.096525,88.5376448 C103.378378,87.7413127 105.429537,84.7490347 105.019305,81.4430502 Z M99.2760618,84.9903475 C95.4150579,85.9073359 93.4604247,86.7519305 88.6824324,89.8648649 C81.2258687,94.6911197 73.0694981,96.9353282 73.0694981,96.9353282 C73.0694981,96.9353282 72.3938224,97.9488417 70.4391892,98.4073359 C67.0608108,99.2277992 54.3436293,99.9276062 53.1853282,99.9517375 C50.0723938,99.9758687 48.1660232,99.1554054 47.6351351,97.8764479 C46.0183398,94.015444 49.9517375,92.3262548 49.9517375,92.3262548 C49.9517375,92.3262548 49.0830116,91.7953668 48.5762548,91.3127413 C48.1177606,90.8542471 47.6351351,89.9372587 47.4903475,90.2750965 C46.8870656,91.7471042 46.5733591,95.3426641 44.9565637,96.9594595 C42.7364865,99.203668 38.5376448,98.4555985 36.0521236,97.1525097 C33.3252896,95.7046332 36.2451737,92.3021236 36.2451737,92.3021236 C36.2451737,92.3021236 34.773166,93.1708494 33.5907336,91.3851351 C32.5289575,89.7442085 31.5395753,86.9449807 31.8050193,83.4942085 C32.0945946,79.5608108 36.4864865,75.7480695 36.4864865,75.7480695 C36.4864865,75.7480695 35.7142857,69.9324324 38.2480695,63.9720077 C40.5405405,58.542471 46.7181467,54.1747104 46.7181467,54.1747104 C46.7181467,54.1747104 41.5299228,48.4314672 43.4604247,43.2673745 C44.715251,39.8889961 45.2220077,39.9131274 45.6322394,39.7683398 C47.0801158,39.2133205 48.4797297,38.6100386 49.5173745,37.4758687 C54.7055985,31.8774131 61.3175676,32.9391892 61.3175676,32.9391892 C61.3175676,32.9391892 64.4546332,23.4073359 67.3503861,25.265444 C68.2432432,25.8445946 71.4527027,32.9874517 71.4527027,32.9874517 C71.4527027,32.9874517 74.8793436,30.984556 75.265444,31.7326255 C77.3407336,35.7625483 77.5820463,43.4604247 76.6650579,48.1418919 C75.1206564,55.8638996 71.2596525,60.0144788 69.715251,62.6206564 C69.3532819,63.2239382 73.8658301,65.1303089 76.7133205,73.0212355 C79.3436293,80.2364865 77.0028958,86.2934363 77.4131274,86.969112 C77.4855212,87.0897683 77.5096525,87.1380309 77.5096525,87.1380309 C77.5096525,87.1380309 80.5260618,87.3793436 86.5830116,83.6389961 C89.8166023,81.6361004 93.6534749,79.3918919 98.0212355,79.3436293 C102.244208,79.2712355 102.46139,84.2181467 99.2760618,84.9903475 Z', fill='#FFFFFF')
