//- Input Field Elements
//- -----------------------------------------------------------------

mixin br
	br


section
	h2 Form Input Fields

	p The HTML <code>#{'<legend>'}</code> represents a caption for the content of its parent <code>#{'<fieldset>'}</code>. The <code>#{'<legend>'}</code> element is only used within a parent <code>#{'<fieldset>'}</code> and must be the first child.

	form
		fieldset
			legend Group of Input Field Types

			label(for='fm-text1') Text Input: #[abbr(title='required') *]
				input#fm-text1(type='text', name='fm-text1' placeholder='Text Input' required)
			+br
			label(for='fm-password1') Password: #[abbr(title='required') *]
				input#fm-password1(type='password' name='fm-password1' placeholder='Type your Password' required)
			+br
			label(for='fm-url1') Web Address:
				input#fm-url1(type='url' name='fm-url1' placeholder='yoursite.com')
			+br
			label(for='fm-email1') Email Address:
				input#fm-email1(type='email' name='fm-email1' placeholder='name@hotmail.com')
			+br
			label(for='fm-tel1') Phone Number:
				input#fm-tel1(type='tel' name='fm-tel1' placeholder='555-867-5309')
			+br
			label(for='fm-search1') Search:
				input#fm-search1(type='search' name='fm-search1' placeholder='Enter Search Term')
			+br
			label(for='fm-num1') Number Input:
				input#fm-num1(type='number' name='fm-num1' placeholder='Enter a Number')
			+br
			label(for='fm-mmnum1') Min/Max Number (5-10):
				input#fm-mmnum1(type='number' name='fm-mmnum1' min='5' max='10')
			+br
			label(for='fm-color1') Color Input:
				input#fm-color1(type='color' name='fm-color1' value='#ff0000')
			+br
			label(for='fm-date1') Date Input:
				input#fm-date1(type='date' name='fm-date1')
			+br
			label(for='fm-datetime1') Datetime Input:
				input#fm-datetime1(type='datetime-local' name='fm-datetime1')
			+br
			label(for='fm-month1') Month and Year Input:
				input#fm-month1(type='month' name='fm-month1')
			//- +br
			//- label(for='fm-') Input:
			//- 	input#fm-(type='' name='fm-')
