//- Image Alignments
//- -----------------------------------------------------------------


section
	h2 Image Alignments

	h4 Image Without Alignment
	p
		| These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with an image that is has no specified alignment.

		img(src="http://via.placeholder.com/200x110" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 200 by 110")

		| Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.


	h4 Image Aligned-Left
	p
		| These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with an image that is aligned-left using the #[code alignleft] class.

		img.img_left(src="http://via.placeholder.com/200x110" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 200 by 110")

		| Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.


	h4 Image Aligned-Right
	p
		| These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with an image that is aligned-right using the #[code alignright] class.

		img.img_right(src="http://via.placeholder.com/200x110" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 200 by 110")

		| Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.


	h4 Image Aligned-Center
	p
		| These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with an image that is aligned-center using the #[code aligncenter] class.

		img.img_center(src="http://via.placeholder.com/200x110" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 200 by 110")

		| Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.
