//- Media - SVG
//- -----------------------------------------------------------------


h4 Inline SVG

include /../images/gulp.svg

//- ---------------

h4 Linked SVG

img(src='images/gulp.svg' alt='Gulp Logo')
