//- SVG
//- -----------------------------------------------------------------


section
	h2 SVG Images

	h3 Inline SVG
	include /../images/gulp.svg

	h3 Linked SVG
	img(src='images/gulp.svg' alt='Gulp Logo')
