//- HTML5 Content used for testing basic elements
//- Basic Text Section
//- -----------------------------------------------------------------


section#text
	header: h1 Text
	article#text__headings
		header: h1 Headings
		div
			h1 Heading 1
			h2 Heading 2
			h3 Heading 3
			h4 Heading 4
			h5 Heading 5
			h6 Heading 6
		footer: p: a(href="#top") [Top]
	article#text__paragraphs
		header: h1 Paragraphs
		div: p
			| A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
		footer: p: a(href="#top") [Top]
	article#text__blockquotes
		header: h1 Blockquotes
		div
			blockquote
				p
					| A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text.
				p
					| It is typically distinguished visually using indentation and a different typeface or smaller size quotation. It may or may not include a citation, usually placed at the bottom.
				cite
					a(href="#!") Said no one, ever.
		footer
			p
				a(href="#top") [Top]
	article#text__lists
		header
			h1 Lists
		div
			h3 Definition list
			dl
				dt Definition List Title
				dd This is a definition list division.
			h3 Ordered List
			ol
				li List Item 1
				li List Item 2
				li List Item 3
			h3 Unordered List
			ul
				li List Item 1
				li List Item 2
				li List Item 3
		footer
			p
				a(href="#top") [Top]
	article#text__hr
		header
			h1 Horizontal rules
		div
			hr
		footer
			p
				a(href="#top") [Top]
	article#text__tables
		header
			h1 Tabular data
		table
			caption Table Caption
			thead
				tr
					th Table Heading 1
					th Table Heading 2
					th Table Heading 3
					th Table Heading 4
					th Table Heading 5
			tfoot
				tr
					th Table Footer 1
					th Table Footer 2
					th Table Footer 3
					th Table Footer 4
					th Table Footer 5
			tbody
				tr
					td Table Cell 1
					td Table Cell 2
					td Table Cell 3
					td Table Cell 4
					td Table Cell 5
				tr
					td Table Cell 1
					td Table Cell 2
					td Table Cell 3
					td Table Cell 4
					td Table Cell 5
				tr
					td Table Cell 1
					td Table Cell 2
					td Table Cell 3
					td Table Cell 4
					td Table Cell 5
				tr
					td Table Cell 1
					td Table Cell 2
					td Table Cell 3
					td Table Cell 4
					td Table Cell 5
		footer
			p
				a(href="#top") [Top]
	article#text__code
		header
			h1 Code
		div
			p
				strong Keyboard input:
				kbd Cmd
			p
				strong Inline code:
				code <div>code</div>
			p
				strong Sample output:
				samp This is sample output from a computer program.
			h2 Pre-formatted text
			pre.
				\nP R E F O R M A T T E D T E X T
					! " # $ % & ' ( ) * + , - . /
					0 1 2 3 4 5 6 7 8 9 : ; < = > ?
					@ A B C D E F G H I J K L M N O
					P Q R S T U V W X Y Z [ \ ] ^ _
					` a b c d e f g h i j k l m n o
					p q r s t u v w x y z { | } ~
		footer
			p
				a(href="#top") [Top]
	article#text__inline
		header
			h1 Inline elements
		div
			p
				a(href="#!") This is a text link
				| .
			p
				strong Strong is used to indicate strong importance.
			p
				em This text has added emphasis.
			p
				| The
				b b element
				|  is stylistically different text from normal text, without any special importance.
			p
				| The
				i i element
				|  is text that is offset from the normal text.
			p
				| The
				u u element
				|  is text with an unarticulated, though explicitly rendered, non-textual annotation.
			p
				del This text is deleted
				|  and
				ins This text is inserted
				| .
			p
				s This text has a strikethrough
				| .
			p
				| Superscript
				sup ®
				| .
			p
				| Subscript for things like H
				sub 2
				| O.
			p
				small This small text is small for for fine print, etc.
			p
				| Abbreviation:
				abbr(title="HyperText Markup Language") HTML
			p
				q(cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q") This text is a short inline quotation.
			p
				cite This is a citation.
			p
				| The
				dfn dfn element
				|  indicates a definition.
			p
				| The
				mark mark element
				|  indicates a highlight.
			p
				| The
				var variable element
				| , such as
				var x
				|  =
				var y
				| .
			p
				| The time element:
				time(datetime="2013-04-06T12:32+00:00") 2 weeks ago
		footer
			p
				a(href="#top") [Top]
