//- Text - Headings and Paragraphs
//- -----------------------------------------------------------------


h2 This is A Second Heading
p Here's what a regular text paragraph looks like. The HTML #{'<p>'} tag represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation.


h3 This is A Third Heading
p Here I come you grizzly old grunion! You rotten old turnip! You filthy old frumpet! Skip jump hop and try to skaddle! I would be hating to get this one inside me on a darksome night. It's sickable! It's rotsome! It's maggotwise! 'I is fluckgungled!' screamed the Maidmasher. They has a nice inky-booky flavour. Spiders is also talking a great deal.


h4 This is A Fourth Heading
p I would be hating to get this one inside me on a darksome night. I'll bet if you saw a fat juicy little child paddling in the water over there at this very moment you'd gulp him up in one gollup! This one is a nasty fierce bogrotting nightmare.


h5 This is a Fifth Heading
p Some is scrumdiddlyumptious and some is uckyslush. Upgoing bubbles is a catasterous disastrophe! All I has to do is reach in and grab myself a handful! English boys is tasting extra lickswishy.


h6 This is a Sixth Heading
p I'll bet if you saw a fat juicy little child paddling in the water over there at this very moment you'd gulp him up in one gollup!


h4 This is a Fourth Heading
p Here's what it looks like when a short paragraph follows a heading.
