//- Text Alignment
//- -----------------------------------------------------------------


section
	h2 Text Alignment

	h4 Default Paragraph (No Specified Alignment)
	p.
		These alignment classes are not standard html tags but should be accounted for in a design system. This one is the default paragraph alignment. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.

	h4 Left Paragraph Alignment
	p.text_left.
		These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with text aligned-left using the #[code text_left] class. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.

	h4 Left Justified Paragraph Alignment
	p.text_left--justify.
		These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with text aligned-left and justified using the #[code text_left--justify] class. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.

	h4 Right Paragraph Alignment
	p.text_right.
		These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with text aligned-right using the #[code text_right] class. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.

	h4 Right Justified Paragraph Alignment
	p.text_right--justify.
		These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with text aligned-right and justified using the #[code text_right--justify] class. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.

	h4 Center Paragraph Alignment
	p.text_center.
		These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with text aligned-center using the #[code text_center] class. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.

	h4 Center Justified Paragraph Alignment
	p.text_center--justify.
		These alignment classes are not standard html tags but should be accounted for in a design system. This one is a paragraph with text aligned-center and justified using the #[code text_center--justify] class. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.
