//- Tables
//- -----------------------------------------------------------------


section
	h2 Table Data

	table
		caption This is a Table Caption
		thead
			tr
				th Table Heading 1
				th Table Heading 2
				th Table Heading 3
				th Table Heading 4
		tfoot
			tr
				th Table Footer 1
				th Table Footer 2
				th Table Footer 3
				th Table Footer 4
		tbody
			tr
				td Table Cell A1
				td Table Cell B1
				td Table Cell C1
				td Table Cell D1
			tr
				td Table Cell A2
				td Table Cell B2
				td Table Cell C2
				td Table Cell D2
			tr
				td Table Cell A3
				td Table Cell B3
				td Table Cell C3
				td Table Cell D3
			tr
				td Table Cell A4
				td Table Cell B4
				td Table Cell C4
				td Table Cell D4
