//- Text - Alignment
//- -----------------------------------------------------------------


h4 Default Paragraph (No Specified Alignment)
p
	| These alignment classes are not standard html tags but should be accounted for in a design system. This one is the default paragraph alignment. Paragraphs are usually represented in visual media as blocks of text that are separate from adjacent blocks by vertical blank space and/or first-line indentation.


h4.t-left Left Aligned Text
p.t-left
	| This is a paragraph with text aligned-left using the #[code t-left] class. 'Oh you Knid you are vile and vermicious' cried Mr Wonka. The filthy old fizzwiggler! The one waiting for you down there is the fearsome Gruncher the Red-Hot Smoke-Belching Gruncher.


h4.t-left--justify Left Aligned & Justified Text
p.t-left--justify
	| This is a paragraph with text aligned-left and justified using the #[code t-left--justify] class. I is needing to listen only to silence when I is mixing up such a knotty plexicated dream as this. So what you soldiers has to do is to creep up to the giants.


h4.t-right Right Aligned Text
p.t-right
	| This is a paragraph with text aligned-right using the #[code t-right] class. George was especially tired of having to live in the same house as that grizzly old grunion of a Grandma. 'I is fluckgungled!' screamed the Maidmasher. Every human bean is diddly and different. The one waiting for you down there is the fearsome Gruncher.


h4.t-right--justify Right Aligned & Justified Text
p.t-right--justify
	| This is a paragraph with text aligned-right and justified using the #[code t-right--justify] class. So start to run! Oh skid and daddle One of the biggest chatbags is the cattlepiddlers. 'I is nervous myself' the BFG whispered. All I has to do is reach in and grab myself a handful!


h4.t-center Center Aligned Text
p.t-center
	| This is a paragraph with text aligned-center using the #[code t-center] class. English boys is tasting extra lickswishy. 'You must not be giving up so easy' the BFG said calmly. It's a funny thought' Sophie said. 'Exunckly' the BFG said. They has no brains. They is made of zozimus.


h4.t-center--justify Center Aligned & Justified Text
p.t-center--justify
	| This is a paragraph with text aligned-center and justified using the #[code t-center--justify] class. So start to run! Oh skid and daddle One of the biggest chatbags is the cattlepiddlers. 'I is nervous myself' the BFG whispered. All I has to do is reach in and grab myself a handful!
