// -------------------------------------------------------------
// ~Base Shadows
//
// This file contains box and text-shadow settings and default styles
// applied to the project.
// -------------------------------------------------------------

/// # Base Shadows
///
/// Set up your default shadow style to use in your project.
///
/// ### Location:
/// `01-utilities/_02-project-init.sass`
///
/// @group configuration
///
$base-shadow: 25px 25px 55px transparentize($c_secondary, 0.5);

/// # Base Navigation Shadow
///
/// Defaults to `$base-shadow` but can be changed here.
///
/// ### Location:
/// `01-utilities/_02-project-init.sass`
///
/// @require {variable} $base-shadow
/// @group configuration
///
$base-nav-shadow: 35px 35px 130px transparentize($c_secondary, 0.2);

/// # Alternative Text Shadow
///
/// Defaults to `$base-shadow` but
/// gives you a second option incase `$base-shadow` isn't your jam.
///
/// ### Location:
/// `01-utilities/_02-project-init.sass`
///
/// @require {variable} $base-shadow
/// @group configuration
///
$alt-text-shadow: none;

$alt-second-text-shadow: 25px 25px 55px transparentize($c_secondary, 0.7);

// -------------------------------------------------------------

h1, h2, h3 {
	text-shadow: $base-shadow;
}

.btn, .callout-image img {
	box-shadow: $base-shadow;
}
