// -------------------------------------------------------------
// ~Breakpoints
//
// This file contains setting for breakpoint-sass and also old breakpoints for
// previous projects.
// -------------------------------------------------------------

// Bootstrap Style Media Queries (min-width)
$xs: 600px !default;
$sm: 800px !default;
$md: 992px !default;
$lg: 1140px !default;
$xl: 1300px !default;

// 360px  = Haweel
// 320px  = iphone 4
// 320px  = iphone 6
// 769px  = ipad air portrait
// 1025px = ipad air landscape

// -------------------------------------------------------------

/// # Breakpoint Sass Configuration
///
/// Settings/overrides for using Breakpoint Sass for media queries.
/// Breakpoint is installed in the Luscious vendor folder
/// but the config is in the project folder. Can use the mixin
/// `breakpoint` or `mq` to produce the media query. Default is `min-width`.
///
/// | Name     | Size    |
/// | -------- | ------- |
/// | $xs      | 600px   |
/// | $sm      | 800px   |
/// | $md      | 992px   |
/// | $lg      | 1140px  |
/// | $xl      | 1300px  |
///
/// ### Location:
/// `01-utilities/_breakpoints.sass`
///
/// @see {mixin} breakpoint
/// @link http://breakpoint-sass.com/
/// @group configuration
///
/// @example scss - SCSS Input
///   @include breakpoint($xs) {
///     .element {
///       display: none;
///     }
///   }
///
/// @example css - CSS Output
///   .element {
///     display: block;
///   }
///
///   @media (min-width: 600px) {
///     .element {
///       display: none;
///     }
///   }
///
$Breakpoint-Settings: ("default media": all, "default feature": min-width, "default pair": width, "force all media type": false, "to ems": true, "transform resolutions": false, "no queries": false, "no query fallbacks": false, "base font size": 16px, "legacy syntax": false);

// =============================================================================
// =============================================================================
// Old Style Breakpoints
// TODO: remove or add to fallback folder for past projects when time allows. #deprecated
// =============================================================================
// DON'T USE THE BELOW ON ANY FUTURE (NEW) PROJECTS

// TODO: Remove these variables. #deprecated
$bp-stewie: 600px !default;
$bp-brian: 800px !default;
$bp-chris: 1025px !default;
$bp-lois: 1140px !default;
$bp-peter: 1300px !default;

@mixin bp-stewie {
	@media (min-width: $bp-stewie) {
		@content;
	}
}

// Custom minor breakpoints
@mixin bp-stewie-($value) {
	@media (min-width: $bp-stewie - $value) {
		@content;
	}
}

@mixin bp-brian {
	@media (min-width: $bp-brian) {
		@content;
	}
}

// Custom minor breakpoints
@mixin bp-brian-($value) {
	@media (min-width: $bp-brian - $value) {
		@content;
	}
}

@mixin bp-chris {
	@media (min-width: $bp-chris) {
		@content;
	}
}

// Custom minor breakpoints
@mixin bp-chris-($value) {
	@media (min-width: $bp-chris - $value) {
		@content;
	}
}

@mixin bp-lois {
	@media (min-width: $bp-lois) {
		@content;
	}
}

// Custom minor breakpoints
@mixin bp-lois-($value) {
	@media (min-width: $bp-lois - $value) {
		@content;
	}
}

@mixin bp-peter {
	@media (min-width: $bp-peter) {
		@content;
	}
}

// Custom minor breakpoints
@mixin bp-peter-($value) {
	@media (min-width: $bp-peter - $value) {
		@content;
	}
}
