// -------------------------------------------------------------
// ~Button Setup
//
// Set default colors and styles in the form of extends and utility classes.
// -------------------------------------------------------------
// Table of Contents
//
// -Colors
// -Styling (with Placeholders)
// --Default Button
// --Primary Button
// --Secondary Button
// --Light Button
// --Dark Button
// --Link Button
// --Block Button
// -Utility Classes

// -------------------------------------------------------------
// Button Colors

// # Button Colors
$btn_base_c:            $c_body      !default;
$btn_base_bg:           $c_body_bg   !default;
$btn_base_border:       $btn_base_c  !default;

$btn_primary_c:         $c_white     !default;
$btn_primary_bg:        transparentize($c_primary, 0.2)   !default;
$btn_primary_border:    transparentize($c_primary, 1)     !default;

$btn_secondary_c:       $c_white     !default;
$btn_secondary_bg:      transparentize($c_secondary, 0.2) !default;
$btn_secondary_border:  transparentize($c_secondary, 1)   !default;

$btn_light_c:           $c_white     !default;
$btn_light_bg:          transparentize($c_white, 0.6)     !default;
$btn_light_border:      transparentize($c_white, 1)       !default;

$btn_dark_c:            transparentize($c_white, 0.5)     !default;
$btn_dark_bg:           transparentize($c_body, 0.6)      !default;
$btn_dark_border:       transparentize($c_body, 1)        !default;

$btn_link_c:            $c_body     !default;
$btn_link_bg:           transparentize($c_body_bg, 1)     !default;
$btn_link_border:       transparentize($c_body_bg, 1)     !default;

// -------------------------------------------------------------
// Default Button Styling

%btn_base {
	font: inherit;

	// ¿10
	cursor: pointer;

	// ¿3
	overflow: visible;

	// ¿7
	text-transform: none;

	// ¿8
	margin: 1rem;

	// ¿9
	display: inline-block;
	padding: .2rem .5rem;
	box-shadow: $base-shadow;
	white-space: nowrap;
	color: $btn_base_c;
	background-color: $btn_base_bg;
	border: 3px solid $btn_base_border;
	transition: $base-transition;

	&::-moz-focus-inner {
		border: 0;

		// ¿5
		padding: 0;

		// ¿5

	}

	&:-moz-focusring {
		outline: 1px dotted ButtonText;

		// ¿6

	}

	&:hover,
	&:focus,
	&:active {
		color: $btn_base_c;
		background-color: darken($btn_base_bg, 10%);
		border-color: darken($btn_base_border, 10%);
	}
}

// -------------------------------------------------------------

// Primary Button (Add on top of %base-button)
%btn_primary {
	color: $btn_primary_c;
	background-color: $btn_primary_bg;
	border-color: $btn_primary_border;

	&:hover,
	&:focus,
	&:active {
		color: $btn_secondary_bg;
		background-color: $btn_primary_border;
		border-color: $btn_primary_bg;
	}
}

// -------------------------------------------------------------

// Secondary Button (Add on top of %base-button)
%btn_secondary {
	color: $btn_secondary_c;
	background-color: $btn_secondary_bg;
	border-color: $btn_secondary_border;

	&:hover,
	&:focus,
	&:active {
		background-color: $btn_secondary_border;
		border-color: $btn_secondary_bg;
	}
}

// -------------------------------------------------------------

// Light Colored Button (Add on top of %base-button)
%btn_light {
	color: $btn_light_c;
	background-color: $btn_light_bg;
	border-color: $btn_light_border;

	&:hover,
	&:focus,
	&:active {
		background-color: $btn_light_border;
		border-color: $btn_light_bg;
	}
}

// -------------------------------------------------------------

// Dark Colored Button (Add on top of %base-button)
%btn_dark {
	color: $btn_dark_c;
	background-color: $btn_dark_bg;
	border-color: $btn_dark_border;

	&:hover,
	&:focus,
	&:active {
		background-color: $btn_dark_border;
		border-color: $btn_dark_bg;
	}
}

// -------------------------------------------------------------

// Link Button (Makes button look like a normal anchor)
%btn_link {
	color: $btn_link_c;
	background-color: transparent;
	border: 0px solid transparent;
	text-decoration: underline;
	box-shadow: none;

	&:hover,
	&:focus,
	&:active {
		color: $btn_link_c;
		background-color: transparent;
		border: 0px solid transparent;
		box-shadow: none;
	}

	&:hover {
		@extend a:hover;
	}

	&:focus {
		@extend a:focus;
	}

	&:active {
		@extend a:active;
	}
}

// -------------------------------------------------------------

// Block Button
%btn_block {
	display: block;
	width: 100%;
}

// =============================================================================
// Utility Classes

// Adds the base to each class
button,
.btn,
.btn_primary,
.btn_secondary,
.btn_light,
.btn_dark,
.btn_link,
.btn_block {
	@extend %btn_base;
}

// Button specific styles:
.btn_primary {
	@extend %btn_primary;
}

.btn_secondary {
	@extend %btn_secondary;
}

.btn_light {
	@extend %btn_light;
}

.btn_dark {
	@extend %btn_dark;
}

.btn_link {
	@extend %btn_link;
}

.btn_block {
	@extend %btn_block;
}

// Other Block Button Stuff
// Vertically space out multiple block buttons
.btn_block + .btn_block {
	margin-top: .5rem;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn_block {
		width: 100%;
	}
}

// -------------------------------------------------------------

// ~Normalize Notes
// ¿3  Change the cursor in all browsers (opinionated).
// ¿5  Remove the inner border and padding in Firefox.
// ¿6  Restore the focus styles unset by the previous rule.
// ¿7  Show the overflow in Edge.
// ¿8  Remove the inheritance of text transform in Edge, Firefox, and IE.
// ¿9  (Originally was margin: 0) Remove the margin in Safari.
// ¿10 Fix Font

// -------------------------------------------------------------

// TODO: Add this file to ^Lus--
// TODO: Update colors.scss to remove btn colors
