// -------------------------------------------------------------
// ~Colors
//
// This file contains the color settings for the
// project. These are the defaults and are designed to be changed as needed
// either through this file of through the project config file.
// -------------------------------------------------------------

/// # Project Color Variables
///
/// All the colors that would be used in your project. The variable here
/// are already set up in the project.
///
/// ### Location:
/// `01-utilities/_colors.scss`
///
/// | Variable Names        | Color Value                      |
/// | --------------------- | -------------------------------- |
/// | **Normalize Colors**  |                                  |
/// | $c_black              | #000                             |
/// | $c_white              | #fff                             |
/// | $c_mark               | #ff0                             |
/// | **Greyscale Colors**  |                                  |
/// | $c_body               | $c_black                         |
/// | $c_almost_black       | #1a1a1a                          |
/// | $c_darkdarkgrey       | #333333                          |
/// | $c_darkgrey           | #4d4d4d                          |
/// | $c_middle_grey        | #808080                          |
/// | $c_lightgrey          | silver                           |
/// | $c_almost_white       | #e6e6e6                          |
/// | $c_body_bg            | $c_white                         |
/// | **Brand Colors**      |                                  |
/// | $c_primary            | tomato                           |
/// | $c_secondary          | royalblue                        |
/// | **Misc Elements**     |                                  |
/// | $c_border_color       | $c_middle_grey                   |
/// |                       |                                  |
/// | **Button Colors**     |                                  |
/// | $btn_base_c           | $c_body                          |
/// | $btn_base_bg          | $c_body_bg                       |
/// | $btn_base_border      | $btn_base_c                      |
/// | **Primary Button**    |                                  |
/// | $btn_primary_c        | $c_white                         |
/// | $btn_primary_bg       | transparentize($c_primary, .2)   |
/// | $btn_primary_border   | transparentize($c_primary, 1)    |
/// | **Secondary Button**  |                                  |
/// | $btn_secondary_c      | $c_white                         |
/// | $btn_secondary_bg     | transparentize($c_secondary, .2) |
/// | $btn_secondary_border | transparentize($c_secondary, 1)  |
/// | **Light Button**      |                                  |
/// | $btn_light_c          | $c_white                         |
/// | $btn_light_bg         | transparentize($c_white, .6)     |
/// | $btn_light_border     | transparentize($c_white, 1)      |
/// | **Dark Button**       |                                  |
/// | $btn_dark_c           | transparentize($c_white, .5)     |
/// | $btn_dark_bg          | transparentize($c_body, .6)      |
/// | $btn_dark_border      | transparentize($c_body, 1)       |
/// | **Button Link**       |                                  |
/// | $btn_link_c           | $c_body                          |
/// | $btn_link_bg          | transparentize($c_body_bg, 1)    |
/// | $btn_link_border      | transparentize($c_body_bg, 1)    |
///
/// @group Color

$Project_Colors: "...";

// The above section is for sassdoc (documentation) only.
// =============================================================================

//  # Normalize Colors
$c_black: #000 !default;
$c_white: #fff !default;
$c_mark: #ff0 !default;

// -------------------------------------------------------------

// # Brand Colors

// Setup
$c_chevyred: #C9300C;
$c_blackblue: #223549;
$c_ocean_water: #65878F;
$c_ocean_blackblue: #445e6c;
$c_slate: #575C56;

// Declare
$c_primary: $c_chevyred;
$c_secondary: $c_blackblue;

$c_nav: $c_blackblue !default;
$c_nav_hover: $c_ocean_water !default;
$c_nav_active: $c_ocean_blackblue !default;

$c_link: $c_primary;

// -------------------------------------------------------------

// # Greyscale Colors
$c_body: $c_slate;
$c_almost_black: $c_slate;
$c_darkdarkgrey: #333333 !default;
$c_darkgrey: #444 !default;
$c_middle_grey: #666 !default;
$c_midgrey: $c_middle_grey;

// alias
$c_lightgrey: #999 !default;
$c_almost_white: #eee !default;
$c_body_bg: $c_white !default;

// -------------------------------------------------------------

// Navigation Colors
// Nav Link (color: rgba(34, 53, 73, 0.8))
$c_nav_bg: transparentize($c_secondary, 0.2);
$c_nav_link: transparentize($c_white, 0.2);
$c_nav_link_hover: $c_white;

// Nav Hover
$c_nav_hover: transparentize($c_ocean_water, 0.2);

// Active Link  (Mix in another brand color)
$c_nav_active: mix($c_ocean_water, $c_secondary, 50%);

// Meh, let's blend them a little more with some transparency
// Final Active color rgba(68, 94, 108, 0.8)
$c_nav_active: transparentize($c_nav_active, 0.2);

// Nav Border
$c_nav_border: transparentize($c_ocean_water, 0.5);

// Sub-Menu  (color: rgba(34, 53, 73, 0.6))
$c_subnav_bg: transparentize($c_secondary, 0.2);

// Hover
$c_subnav_hover: transparentize($c_ocean_water, 0.4);

// -------------------------------------------------------------

// # Misc Elements
$c_border_color: $c_middle_grey !default;

// -------------------------------------------------------------

// TODO: Add to ^Lus--
// // Nav Border
// $c_nav_border:         tint($c_nav_bg, 40);
// $c_subnav_hover:       transparentize($c_ocean_water, .6);

// TODO: Remove from ^Lus--
// $nav-border: 1px solid     tint($c_nav_bg, 40);
