// -------------------------------------------------------------
// ~Font Settings
//
// This file is used to import/set up fonts, establish font styles,
// set up font-stacks, and assign those stacks to the project.
// -------------------------------------------------------------

/// # Font Stacks
///
/// Font stacks set up as variables so that all you have to do is add the
/// stack name to the `font-family` and all the proper fallbacks will be
/// added. Define what you want your heading, sub-heading, body, and
/// monospace stack to be throught the `fonts.scss` file in the
/// project config folder.
///
/// ### Location:
/// `01-utilities/_fonts.scss`
///
/// @group Typography
///
/// @example scss - Preloaded Base Stacks SCSS Input
///   font-family: $font-stack-helvetica;
///   font-family: $font-stack-georgia;
///   font-family: $font-stack-helvetica;
///
/// @example css - CSS Output
///   font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
///   font-family: "Georgia", "Times", "Times New Roman", serif;
///   font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
///
/// @example scss - Used in Project SCSS Input
///   font-family: $font-head;
///   font-family: $font-sub-head;
///   font-family: $font-body;
///   font-family: $font-mono;

$font-stacks: "...";

// ## Base Font Stacks (From Bourbon)
$font-stack-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-stack-georgia: "Georgia", "Times", "Times New Roman", serif;

$font-stack-courier-new: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

// TODO: remove these variables. #deprecated
$lus-font-stack-helvetica: $font-stack-helvetica;
$lus-font-stack-courier-new: $font-stack-georgia;
$lus-font-stack-georgia: $font-stack-courier-new;

// -------------------------------------------------------------

// # Google Font Stack

// ## Work Sans (Sans Serif Font)
// Weights
// | 300  | Light  |
// | 400  | Normal |
// | 500  | Medium |
// | 700  | Bold   |
//
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,700);

//
// @requires {variable} $font-stack-helvetica
//
$lus-font-stack-work-sans: "Work Sans", $font-stack-helvetica;

// -------------------------------------------------------------

// ## Arvo (Serif Font)
// Weights
// | 400  | Normal |
// | 700  | Bold   |
//
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

//
// @requires {variable} $font-stack-helvetica
//
$lus-font-stack-arvo: "Arvo", $font-stack-georgia;

// -------------------------------------------------------------

/// # Font Weights
///
/// Font weights set up as variables. Allows you to make changes to a single
/// weight to the entire project from a single file.
///
/// ### Location:
/// `01-utilities/_fonts.scss`
///
/// @group Styling
///
/// @example scss - SCSS Input
///   font-weight: $light;
///   font-weight: $normal;
///   font-weight: $medium;
///   font-weight: $bold;
///
/// @example css - CSS Output
///   font-weight: 300;
///   font-weight: 400;
///   font-weight: 500;
///   font-weight: 700;

$font-weight: "...";

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// -------------------------------------------------------------

// # Normalized Font Families
$sans-serif: sans-serif !default;
$monospace: monospace !default;

// -------------------------------------------------------------

// # Font-Stacks
$font-head: $lus-font-stack-arvo;
$font-sub-head: $lus-font-stack-work-sans;
$font-body: $lus-font-stack-work-sans;
$font-mono: $lus-font-stack-courier-new;

// =============================================================================

// ## Font Awesome (Icon Font)
//
// For a Grav site, import Font Awesome through twig template.
// @link https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css
// @link http://fontawesome.io/cheatsheet/
// @link http://fontawesome.bootstrapcheatsheets.com/
// @link https://astronautweb.co/snippet/font-awesome/

// -------------------------------------------------------------

/// # Icon Font Family
///
/// Modify the icon font family from a single location. You can alsp set up
/// variables for specific icons for easier access.
///
/// ### Location:
/// `01-utilities/_fonts.scss`
///
/// @example scss - SCSS Input
///   .element {
///     font-family: $icon-font;
///     content: "$ico-quote-left";
///   }
///
/// @example css - CSS Output
///   .element {
///     font-family: FontAwesome;
///     content: "\f10d";
///   }

$icon-font: FontAwesome !default;

// # Assigned Icons
$ico-map: "";

// Map Marker          - CSS: fa-map-marker
$ico-quote-left: "";

// Left Smart Quote    - CSS: fa-quote-left
$ico-quote-right: "";

// Right Smart Quote   - CSS: fa-quote-right
$ico-map-sign: "";

// Map Direction Sign  - CSS: fa-map-signs
$ico-close: "";

// Close (X)           - CSS: fa-close
$ico-chevron-down: "";

// Chevron Down        - CSS: fa-chevron-down

// *Note- use (aria-hidden="true") for icons that are purly decorational.
// http://fontawesome.io/accessibility/

// -------------------------------------------------------------

// TODO: Add to ^Lus--
// $ico-close:       "\f00d";        // Close (X)           - CSS: fa-close
// $ico-chevron-down "\f078";        // Chevron Down        - CSS: fa-chevron-down
//
// // *Note- use (aria-hidden="true") for icons that are purly decorational.
// // http://fontawesome.io/accessibility/
