// -------------------------------------------------------------
// ~Skeleton Grid Settings
// -------------------------------------------------------------

// Declare width and max-width for container rows.
$skeleton-width: 100% !default;
$skeleton-max-width: 125rem;
$skeleton-margin: 0 auto !default;
$skeleton-padding: 0 $base-site-pad;
