// -------------------------------------------------------------
// ~Modular Scale Settings
//
// This file is used to configure your modular scale ratios,
// modular scale base, etc.
// -------------------------------------------------------------

////
/// @group configuration
/// @link http://www.modularscale.com/
////

// Modular Scale Available Ratios
$phi: 1.61803 !default;
$golden: $phi !default;

$double-octave:    4       !default;
$major-twelfth:    3       !default;
$major-eleventh:   2.66667 !default;
$major-tenth:      2.5     !default;
$octave:           2       !default;
$major-seventh:    1.875   !default;
$minor-seventh:    1.77778 !default;
$major-sixth:      1.66667 !default;
$minor-sixth:      1.6     !default;
$fifth:            1.5     !default;
$augmented-fourth: 1.41421 !default;
$fourth:           1.33333 !default;
$major-third:      1.25    !default;
$minor-third:      1.2     !default;
$major-second:     1.125   !default;
$minor-second:     1.06667 !default;

// -------------------------------------------------------------

/// # Modular Scale Base
///
/// Sets your base that will be used to calculate your modular scales sizes.
///
/// ### Found At:
/// `css/01-utilities/_modular-scale.sass`
///
$ms-base: 1.6em;

/// # Modular Scale Ratio
///
/// Defines your modular scale ratio to be used throughout the project.
///
/// ### Found At:
/// `css/01-utilities/_modular-scale.sass`
///
///   | Scale Name Var    | Ratio Value |
///   | ----------------- | ----------- |
///   | $phi              | 1.618034    |
///   | $golden           | $phi        |
///   | $double-octave    | 4           |
///   | $major-twelfth    | 3           |
///   | $major-eleventh   | 2.666666667 |
///   | $major-tenth      | 2.5         |
///   | $octave           | 2           |
///   | $major-seventh    | 1.875       |
///   | $minor-seventh    | 1.777777778 |
///   | $major-sixth      | 1.666666667 |
///   | $minor-sixth      | 1.6         |
///   | $fifth            | 1.5         |
///   | $augmented-fourth | 1.41421     |
///   | $fourth           | 1.333333333 |
///   | $major-third      | 1.25        |
///   | $minor-third      | 1.2         |
///   | $major-second     | 1.125       |
///   | $minor-second     | 1.066666667 |

$ms-ratio: $minor-third;

// -------------------------------------------------------------
// Other modular scale settings that I'm not familiar with.
$ms-range: null !default;
$ms-fluid: true !default;
