// -------------------------------------------------------------
// ~Z-Index Settings
// -------------------------------------------------------------
// TODO: Add to #sassdoc

// Define z-index variables
//
// $zindex - {map}
// @source - http://www.sitepoint.com/using-sass-maps/
//
//
$zindex: (overlay: 9000, dropdown: 8000, nav: 7000, header: 6000, footer: 5000, pseduo: 4000, default: 1, bottomless_pit: -10000);

// Until I figure out sass maps...
$z_ooverlay: 9000;
$z_dropdown: 8000;
$z_nav: 7000;
$z_header: 6000;
$z_footer: 5000;
$z_pseduo: 4000;
$z_default: 1;
$z_bottomless_pit: -10000;

// ===================

// TODO: Add to ^Lus--
//
// # Z-index Variables
// $z_ooverlay:        9000;
// $z_dropdown:        8000;
// $z_nav:             7000;
// $z_header:          6000;
// $z_footer:          5000;
// $z_pseduo:          4000;
// $z_default:         1;
// $z_bottomless_pit:  -10000;
