// Luscious
// @since v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================


// # Event wrapper
//
// A quick and easy way to add `:hover`, `:active`, and `:focus`
// states to an element.
//
// @author Harry Roberts
// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
// @since v1.1.2
//
// @example scss
//   .element {
//     font-weight: normal;
//
//     @include hocus {
//       font-weight: bold;
//     }
//   }
//
//   // CSS Output
//   .element {
//     font-weight: normal;
//   }
//   .hocus:hover, .hocus:active, .hocus:focus {
//     font-weight: bold;
//   }
//

$info_hocus: info-log(
	'The `hocus` mixin is used to easily add:
	hover, active, and focus pseudo classes. See `https://goo.gl/mNzHHc`
	Type  : Included Mixin
	Params: none.
	Requires:   Content block.'
);

// Info Mixin
@mixin __info_hocus {
	@debug $info_hocus;
}


@mixin hocus($info: null) {
	@if $info { @debug $info_hocus; }
	@else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}


// ===================================================================
// Tests
// ===================================================================

@mixin __test_hocus {
	@if $output_test_message { @debug "[TESTING] `hocus`"; }
	/* `length` ------------------------- */
	/* `hocus` -------------------- */
	/*
	.test.hocus {
		@include hocus {
			color: red;
		}
	}
	*/
	.test.hocus {
		@include hocus {
			color: red;
		}
	}
	/* `length` ------------------------- */
	/* End `hocus` ---------------------- */
}
