// Luscious
// @since v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================


// @mixin root($selector, $parent: null) {
// 	@if $selector == "info" {
// 		@debug '[INFO] The `root` mixin passes the `@at-root` sass declaration to the selector (required first argument) and (optionally) accepts a second argument (either `prepend` or `append`). `Append` will append the selector to the parent selector while `prepend` will obviously prepend it. Only the `$selector` argument is required.';
// 		}
// 	@else {
// 		$pre: null;
// 		$app: null;
// 		@if $parent == "append"  { $app: &; }
// 		@if $parent == "prepend" { $pre: &; }
// 	}
// 		// Return:
// 		@at-root #{$app}#{$selector}#{$pre} {
// 			@content;
// 		}
// } // end: mixin

$info_when_is: info-log(
	"The `when_is` mixin passes the `@at-root` sass declaration to the selector
	to add a parent class to the current selector.
	Type  : Standalone or Included Mixin
	Params:
	- $selector: Required. Parent class name (in quotes)
	Alias : `at_root`
	Requires: Content Block
	Example:
	Input SCSS:
	.div {
		@include when_is(\".parent\") { color: green; }
	}
	Output CSS:
	.parent.div { color: green; }"
);

@mixin __info_when_is {
	@debug $info_when_is;
}

@mixin when_is($selector) {
	@if $selector == "info" { @debug $info_when_is; }
	@else {
		@at-root #{$selector + &} {
			@content;
		}
	}
}

// Alias
@mixin __info_at_root {
	@include __info_when_is;
}

@mixin at_root($selector) {
	@include when_is($selector){
		@content;
	}
}


// ===================================================================
// Tests
// ===================================================================

@mixin __test_when_is {
	@if $output_test_message { @debug "[TESTING] `when_is`"; }
	/* `when_is` ------------------------ */
	/*
	.test.when_is {
		@include when_is(".test_parent") {
			color: red;
		}
	}
	*/
	.test.when_is {
		@include when_is(".test_parent") {
			color: red;
		}
	}
	/*
	.test.at_root {
		@include at_root(".test_parent") {
			color: red;
		}
	}
	*/
	.test.at_root {
		@include at_root(".test_parent") {
			color: red;
		}
	}
	/* End `when_is` -------------------- */
}

// Alias
@mixin __test_at_root {
	@include __test_when_is;
}
