// Slider Reverse

@mixin burger--slider-r {

	@include burger;
	.burger-inner {
		top: $burger-layer-height / 2;

		&::before {
			top: $burger-layer-height + $burger-layer-spacing;
			transition-property: transform, opacity;
			transition-timing-function: ease;
			transition-duration: 0.15s;
		}

		&::after {
			top: ($burger-layer-height * 2) + ($burger-layer-spacing * 2);
		}
	}

	&.is-active {
		.burger-inner {
			$y-offset: $burger-layer-spacing + $burger-layer-height;

			transform: translate3d(0, $y-offset, 0) rotate(-45deg);

			&::before {
				transform: rotate(45deg) translate3d($burger-layer-width / 7, $burger-layer-spacing * -1, 0);
				opacity: 0;
			}

			&::after {
				transform: translate3d(0, $y-offset * -2, 0) rotate(90deg);
			}
		}
	}
}

// -------------------------------------
// Utility Class
@if index($burger-types, slider-r) {
	.burger--slider-r {
		@include burger--slider-r;
	}
}
