// Arrow Alt Right

@mixin burger--arrowalt-r {

	@include burger;
	.burger-inner {
		&::before {
			transition: top 0.1s 0.1s ease,
									transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&::after {
			transition: bottom 0.1s 0.1s ease,
									transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
	}

	&.is-active {
		.burger-inner {
			&::before {
				top: 0;
				transform: translate3d($burger-layer-width * 0.2, $burger-layer-width * -0.25, 0) rotate(45deg) scale(0.7, 1);
				transition: top 0.1s ease,
										transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
			}

			&::after {
				bottom: 0;
				transform: translate3d($burger-layer-width * 0.2, $burger-layer-width * 0.25, 0) rotate(-45deg) scale(0.7, 1);
				transition: bottom 0.1s ease,
										transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
			}
		}
	}
}

// -------------------------------------
// Utility Class
@if index($burger-types, arrowalt-r) {
	.burger--arrowalt-r {
		@include burger--arrowalt-r;
	}
}
