// Boring

@mixin burger--boring {

	@include burger;
	.burger-inner {
		&,
		&::before,
		&::after {
			transition-property: none;
		}
	}

	&.is-active {
		.burger-inner {
			transform: rotate(45deg);

			&::before {
				top: 0;
				opacity: 0;
			}

			&::after {
				bottom: 0;
				transform: rotate(-90deg);
			}
		}
	}
}

// -------------------------------------
// Utility Class
@if index($burger-types, boring) {
	.burger--boring {
		@include burger--boring;
	}
}
