// Contains styles related to the button object.
// ===================================================================


// ------------------------------------
// Button Reset
// ------------------------------------
button
	border: 0
	border-radius: 0
	outline: none
	appearance: none

	&:hover,
	&:active,
	&:focus
		outline: none
