//- Test Content Page
//- -----------------------------------------------------------------

extends /partials/_base

block vars
	- var metaDescription = "This is the meta description for the Demo Media Content page.";
	- var metaKeywords = SITE.meta.keywords;
	//- - var bodyClass = 'page--internal';

block title
	title !{SITE.meta.title} | Media Demo

block append styles
	link(rel='stylesheet', href='/css/info.css')


//- -----------------------------------
//- Page Main-Content Starts Here
//- -----------------------------------
block content

	article
		header
			h1 HTML5 Media Elements

			p.o-intro.
				This is an intro paragraph for the page content. It should look similar to the regular paragraphs but maybe just a little set apart. This could be done with a slightly different color or larger text. Maybe a little larger line-height and more top/bottom margin.



		include partials/demo/_media-svg
		include partials/demo/_media-images_basic
		include partials/demo/_media-image_alignment
		include partials/demo/_media-audio
		include partials/demo/_media-video
