//- Forms Content Page
//- -----------------------------------------------------------------

extends /partials/_base

block vars
	- var metaDescription = "This is the meta description for the Demo Forms Content page.";
	- var metaKeywords = SITE.meta.keywords;
	//- - var bodyClass = 'page--internal';

block title
	title !{SITE.meta.title} | Forms Demo

block append styles
	//- link(rel='stylesheet', href='/css/info.css')


//- -----------------------------------
//- Page Main-Content Starts Here
//- -----------------------------------
block content
	article
		header
			h1 Element Style Guide

			p.o-intro
				| This page is good place to quickly reference the main style elements used within the project. This is what an intro paragraph looks like using the <code>#{'.o-intro'}</code> class.

		hr

		section
			h2.sg Forms

			section
				header: h3.sg Meters & Progress
				include /partials/demo/_forms-meter_progress

			hr

			section
				header: h3.sg Fieldset & Legend
				include /partials/demo/_forms-fieldset_legend

			hr

			section
				header: h3.sg Inputs Fields
				include /partials/demo/_forms-input-fields

			hr

			section
				header: h3.sg Select
				include /partials/demo/_forms-input-select

			hr

			section
				header: h3.sg Checkboxes
				include /partials/demo/_forms-input-checkbox

			hr

			section
				header: h3.sg Radio Inputs
				include partials/demo/_forms-input-radio

			hr

			section
				header: h3.sg Textareas
				include partials/demo/_forms-input-textareas

			hr

			section
				header: h3.sg Buttons
				include partials/demo/_forms-input-buttons



		//- .c-contact-form#nav-contact
			h4 #{SITE.footer.colThird}
			p.form-desc Required fields are followed by #[abbr(title='required') *]

			form#contact_form
				.l-input-wrap
					label(for='name') Name: #[abbr(title='required') *]
						input#name(type='text', name='name', placeholder='Amelia Earhart')
					label(for='email') Email: #[abbr(title='required') *]
						input#email(type="text", name='email', placeholder="amelia@gmail.com")
				label.message-input(for='textarea') Message: #[abbr(title='required') *]
					textarea#textarea(name="textarea", cols="30", rows="10" placeholder='Write something here.' required)

				button(type="submit") Submit
