//- Test Content Page
//- -----------------------------------------------------------------

extends /partials/_base

block vars
	- var metaDescription = "This is the meta description for the Demo Forms Content page.";
	- var metaKeywords = SITE.meta.keywords;
	//- - var bodyClass = 'page--internal';

block title
	title !{SITE.meta.title} | Forms Demo

block append styles
	link(rel='stylesheet', href='/css/info.css')


//- -----------------------------------
//- Page Main-Content Starts Here
//- -----------------------------------
block content

	article
		header
			h1 HTML5 Form Elements

			p.o-intro.
				This is an intro paragraph for the page content. It should look similar to the regular paragraphs but maybe just a little set apart. This could be done with a slightly different color or larger text. Maybe a little larger line-height and more top/bottom margin.



		include partials/demo/_forms-meter_progress
		include partials/demo/_forms-input_fields


		//- -----------------------------------
		//- Forms
		//- -----------------------------------






			form
				fieldset
					legend Group of Input Fields
					label(for='fm-name1') Name: #[abbr(title='required') *]
						input#fm-name1(type='text', name='fm-name1', size='30' placeholder='Hugh Gaskins')
					//- br
					label(for='fm-email1') Email: #[abbr(title='required') *]
						input#fm-email1(type='text', name='fm-email1', size='30' placeholder='hugh@example.com')
					//- br
					label(for='fm-date1') Birth Date:
						input#fm-date1(type='text', name='fm-date1', size='10' placeholder='01/11/1969')



		//- .c-contact-form#nav-contact
			h4 #{SITE.footer.colThird}
			p.form-desc Required fields are followed by #[abbr(title='required') *]

			form#contact_form
				.l-input-wrap
					label(for='name') Name: #[abbr(title='required') *]
						input#name(type='text', name='name', placeholder='Amelia Earhart')
					label(for='email') Email: #[abbr(title='required') *]
						input#email(type="text", name='email', placeholder="amelia@gmail.com")
				label.message-input(for='textarea') Message: #[abbr(title='required') *]
					textarea#textarea(name="textarea", cols="30", rows="10" placeholder='Write something here.' required)

				button(type="submit") Submit
