block append styles
	link(rel='stylesheet', href='/css/main.css')
block content
	div.container-susy
		header.header-susy
			div.col-1
				h1 Logo here
			div.col-2
				p Some text...
			div.col-3
				p Some more text...
		main.main-susy
			article.main__col-1
				ul.blocks
					li Block 1
					li Block 2
				ul.blocks
					li Block 1
					li Block 2
					li Block 3
			aside.main__col-2
				p Some text...
