//- Site Home Page
//- -----------------------------------------------------------------

extends /partials/_base

block title
	title !{PGHOME.meta.title} | !{PGHOME.title}

block vars
	//- 'bodyClass' is optional. Remove this var if you don't
	//- want to output a bodyclass.
	- var bodyClass = 'page--home';

block content

	//- Feel free to remove everything below this
	//- and start doing your own thing.

	h1 #{SITE.project}!
		//- If you're not using gulp-data, You can remove these variables

	h2.
		A modern way to create responsive, accessible, and maintainable front-end web projects.

	p.
		Built using Pug, SASS (with Luscious), and Javascript. Compiled with Gulp and pulled together with Yarn.

	img(src='images/gulp.svg', alt='Gulp Logo')

	img(src='images/sass.svg', alt='Sass Logo')

	img(src='images/pug.svg', alt='Pug Logo')

	img(src='images/yarn.svg', alt='Yarn Logo')

	hr

	h2.
		Here's some filler content to use for testing

	include /partials/demo/_content-index
