//- Site Home Page
//- -----------------------------------------------------------------

extends /partials/_base

block vars
	- var metaDescription = PGHOME.meta.description;
	- var metaKeywords = PGHOME.meta.keywords;
	- var bodyClass = 'page--home';

block title
	title !{SITE.meta.title} | !{PGHOME.title}

block content
	//- -----------------------------------
	//- Page Main Content
	//- -----------------------------------

	//- Feel free to remove everything below this
	//- and start doing your own thing.

	h1 #{SITE.meta.title}!
		//- If you're not using gulp-data, You can remove these variables

	h2.
		A modern way to create responsive, accessible, and maintainable front-end web projects.

	p.
		Built using Pug, SASS (with Luscious), and Javascript. Compiled with Gulp and pulled together with Yarn.

	img(src='images/gulp.svg', alt='Gulp Logo')

	img(src='images/sass.svg', alt='Sass Logo')

	img(src='images/pug.svg', alt='Pug Logo')

	img(src='images/yarn.svg', alt='Yarn Logo')

	hr

	h2.
		Here's some HTML tag examples to use for testing.



	include /partials/demo/_section-text

	include /partials/demo/_section-embedded

	include /partials/demo/_section-forms
