doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Fresh | Home
		meta(name='description', content='This is a meta description for the home page.')
		meta(name='keywords', content=' homepage keywords, pug, sass, gulp, yarn')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		// build:css /css/main.min.css
		link(rel='stylesheet', href='/css/main.css')
		// endbuild
		//
	body.page--home
		a.c-skiplink(href='#nav-main') Jump to main content.
		header
			a(href='/')
				img(src='http://via.placeholder.com/150x150')
			nav.c-nav.js-nav(role='navigation')
				.l-nav__toggle
					button.nav__toggle#js-toggle-menu(type='button', aria-expanded='false', aria-controls='main-menu')
						.nav__toggle--open
							span.u_visuallyhidden Open Menu
							i.fa.fa-bars(aria-hidden='true')
						.nav__toggle--close
							span.u_visuallyhidden Close Menu
							i.fa.fa-times(aria-hidden='true')
				ul#main-menu
					li
						a(href='index.html', target='_blank') Home
					li
						a(href='index.html#text', target='_blank') Text
					li
						a(href='index.html#embedded', target='_blank') Embedded
					li
						a(href='index.html#forms', target='_blank') Forms
					li
						a(href='content-page.html', target='_blank') Content Page
		main#nav-main(role='main')
			h1 Fresh!
			h2 A modern way to create responsive, accessible, and maintainable front-end web projects.
			p Built using Pug, SASS (with Luscious), and Javascript. Compiled with Gulp and pulled together with Yarn.
			img(src='images/gulp.svg', alt='Gulp Logo')
			img(src='images/sass.svg', alt='Sass Logo')
			img(src='images/pug.svg', alt='Pug Logo')
			img(src='images/yarn.svg', alt='Yarn Logo')
			hr
			h2 To test out some html tags, try:
			ul
				li
					a(href='./demo-text.html') Text Elements
				li
					a(href='./demo-forms.html') Form Elements
				li
					a(href='./demo-media.html') Media Elements
		footer
			nav.c-nav.js-nav(role='navigation')
				.l-nav__toggle
					button.nav__toggle#js-toggle-menu(type='button', aria-expanded='false', aria-controls='main-menu')
						.nav__toggle--open
							span.u_visuallyhidden Open Menu
							i.fa.fa-bars(aria-hidden='true')
						.nav__toggle--close
							span.u_visuallyhidden Close Menu
							i.fa.fa-times(aria-hidden='true')
				ul#main-menu
					li
						a(href='index.html', target='_blank') Home
					li
						a(href='index.html#text', target='_blank') Text
					li
						a(href='index.html#embedded', target='_blank') Embedded
					li
						a(href='index.html#forms', target='_blank') Forms
					li
						a(href='content-page.html', target='_blank') Content Page
			p © 2018 Your Company
			p
				| Built By Us | Get In
				a(href='#') Touch
		script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
		script window.jQuery || document.write('<script src="js/vendors/jquery-3.2.1.min.js"><\/script>')
		// build:js /js/main.min.js
		script(src='/js/nav.js')
		// endbuild
		//