p.
	A friend of mine was telling me about two of the most successful times of his often very scattered life … and they both came when he was very focused on one learning project.

p.
	Having a single focus really allowed him to grow — not only to deeply learn the topic he was studying, but to grow as a person.

p.
	He’s been experiencing that kind fo focus recently, picking one project and really giving it his full focus.

p.
	But his question was this: how should I combine having one clear main project for this year, while also doing lots of other things I want to do?

p.
	Basically, he wants to create focus and depth in one project, but still maintain his health, business, relationship, and mindfulness practice.

p.
	It’s a good question.

p.
	My suggestion: <strong>Create structure for the areas you need to maintain your life, to create space for deep focus.</strong>

p.
	For example, you might want to do things like:

ul
	li Have regular exercise & meditation
	li Eat healthy meals
	li Do admin work
	li Do regular work tasks, calls, meetings
	li Have time for reading and spending time with your partner and/or friends
	li Do twice-weekly yoga or martial arts classes

p.
	And on top of that, you want to create one deeply focused project.

p.
	Here’s how you might structure all of that to give yourself that focus:

ol
	li Meditate & do a 15-minute exercise routine in the morning
	li Create a handful of healthy meals and just plan to shop for, cook and eat those meals eveday
	li Block off time in the evening for reading and spending time with partner/friends
	li Block off time during the week for your admin and other regular tasks (let’s say 1 hour every day 	li from 11am-12pm)
	li Block off time during the week for classes or other regular activities
	li <strong>The rest of the time is all for your deep focus project</strong>

p.
	So this day is structured with a morning and evening routine, regular healthy meals, and some blocked off time for regular work. But the rest of the day is open, and in that open space, you only do your deep focus project. Don’t read, don’t look at stuff online, don’t do admin work. Just the deep focus project.

p.
	This eliminates the paradox of choice. You make your decisions ahead of time: when you’re going to do your reading, exercise, eating, admin work, etc. And so you don’t have to ask yourself, “Should I read right now or check email? Should I exercise now, meditate, or work on my deep focus project?”

p.
	The decisions are made. No constant choice, just doing.

p.
	Now you have to focus on keeping your word to yourself, sticking to those decisions, and finding that focus.
