//- Contains the html that is reused on most pages
//- -----------------------------------------------------------------

doctype html
html.no-js(lang='en')

	//- -----------------------------------
	//- Page Variables
	//- -----------------------------------
	block vars
		- var metaDescription = SITE.meta.description;
		- var metaKeywords = SITE.meta.keywords;

	//- -----------------------------------
	//- Site Head
	//- -----------------------------------
	block head
		head
			meta(charset='utf-8')
			meta(http-equiv='x-ua-compatible', content='ie=edge')
			meta(name='viewport', content='width=device-width,initial-scale=1')

			//- -----------------------------------
			//- Site/Page Meta Title
			//- -----------------------------------
			block title
				title #{SITE.meta.title}

			meta(name='description', content=metaDescription)
			meta(name='keywords', content=metaKeywords)

			include _meta-imgs

			//- -----------------------------------
			//- Stylesheets
			//- -----------------------------------
			// build:css /css/main.min.css
			block styles
				//- link(rel='stylesheet', href='/css/normalize.css')
				link(rel='stylesheet', href='/css/main.css')
			// endbuild
			//

	body(class=bodyClass)

		//- -----------------------------------
		//- Accessibility Skiplink
		//- -----------------------------------
		a.c-skiplink(href='#nav-main') Jump to main content.

		//- -----------------------------------
		//- Site Header/Nav
		//- -----------------------------------
		block header
			include _header

		main#nav-main(role='main')

			//- -----------------------------------
			//- Page Content
			//- -----------------------------------
			block content

		//- -----------------------------------
		//- Site Footer
		//- -----------------------------------
		block footer
			include _footer

		//- -----------------------------------
		//- Scripts
		//- -----------------------------------
		block bottom-scripts-link
			<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script><script>window.jQuery || document.write('<script src="js/vendors/jquery-3.2.1.min.js"><\/script>')</script>

		// build:js /js/main.min.js
		block bottom-scripts-local
			script(src='/js/nav.js')
		// endbuild
		//
