//- Contains the html that is reused on most pages
//- -----------------------------------------------------------------

doctype html

html.no-js(lang='en')

	block head
		head
			meta(charset='utf-8')
			meta(http-equiv='x-ua-compatible', content='ie=edge')
			meta(name='viewport', content='width=device-width,initial-scale=1')

			block title
				title #{SITE.meta.title}

			meta(name='description', content=SITE.meta.description)
			meta(name='keywords', content=SITE.meta.keywords)
			link(rel='apple-touch-icon', href='apple-touch-icon.png')

			// build:css /css/main.min.css
			block styles
				//- link(rel='stylesheet', href='/css/normalize.css')
				link(rel='stylesheet', href='/css/main.css')
			// endbuild

			//- Import Font Awesome from CDN instead of local
			//- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

	block vars
	body(class=bodyClass)

		//- Skips to #main
		a.c-skiplink(href='#main') Jump to main content.

		//- Site Nav
		include _nav

		//- '#main' Used for Skiplink
		main#main(role='main')

			block content
			//- Page content goes here


	block bottom-scripts-link
		//- Jquery from CDN. To use locally jquery, remove this script and uncomment the one in the 'scripts-local' section below.
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

	// build:js /js/main.min.js
	block bottom-scripts-local
		//- Jquery local
		//- script(src='js/vendors/jquery-3.2.1.min.js')

		script(src='/js/nav.js')
	// endbuild
