//- Site Header
//- -----------------------------------------------------------------

header
	a(href='/')
		//- include /../images/fresh.svg
		img(src='http://via.placeholder.com/150x150')

	//- Site Nav
	include _nav
