//- Contains all the <head> meta stuff that won't normally change between projects
//- -----------------------------------------------------------------


meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport', content='width=device-width,initial-scale=1')
meta(name='description', content=metaDescription)
meta(name='keywords', content=metaKeywords)


include _head__meta-imgs
