//- Primary Navigation Component
//- -----------------------------------------------------------------

nav.c-nav.js-nav(role="navigation")
	.l-nav__toggle
		//- .nav__toggle#js-toggle-menu(aria-expanded="false" aria-controls="main-menu")
		button.nav__toggle#js-toggle-menu(type="button" aria-expanded="false" aria-controls="main-menu")
			.nav__toggle--open
				span.u_visuallyhidden Open Menu
				i.fa.fa-bars(aria-hidden="true")
			.nav__toggle--close
				span.u_visuallyhidden Close Menu
				i.fa.fa-times(aria-hidden="true")

	ul#main-menu
		each item in SITE.navMain
			li
				if item.path
					a(href=item.path)=item.title
				else
					| item.title
				if item.subNav
					ul
						each subItem in item.subNav
							li
								a(href=subItem.path)=subItem.title
