//- "Skip Navigation" for Accessibility
//-
//- Used for screen readers and keyboard-only users
//- -----------------------------------------------------------------

//- @see: http://webaim.org/techniques/skipnav/#maincontent
//- @see: http://webaim.org/techniques/css/invisiblecontent/

a.c-skiplink(href='#main') Jump to main content.
