//- Forms - Input Textareas
//- -----------------------------------------------------------------


p The #{'<textarea>'} tag defines a multi-line text input control.

//- ---------------

form
	fieldset
		legend Textareas
		label(for="fm-txt1") Textarea
			textarea#fm-txt1(rows="8" cols="48" placeholder="Enter your message here")
