//- Media - Audio Elements
//- -----------------------------------------------------------------


-var demoAudio="https://gitlab.com/ignitecreative/cdn/raw/master/audio/fresh_player-demo-1/soundclip";

//- ---------------

audio(id="audio1" controls="")
	source(src=demoAudio + ".mp3" type="audio/mp3")
	source(src=demoAudio + ".ogg" type="audio/ogg")
