//- Media - SVG
//- -----------------------------------------------------------------


h4 Inline SVG

include /../images/gulp.svg

//- ---------------

h4 SVG used as an img tag

img(src='/images/gulp.svg' alt='Gulp Logo')
