//- Text - Inline Elements
//- -----------------------------------------------------------------


p
	| This is #[b bold] text which is stylistically different from normal text, without any special importance. Strong is used to indicate #[strong strong importance]. You can use #[i italic] text to offset something from the normal text. Or you can use #[em emphasized] text to give something more emphasis.

p
	| The #[u u element] is text with an unarticulated, though explicitly rendered, non-textual annotation. #[del This text is deleted] and #[ins This text is inserted]. And #[s this text has a strikethrough]. #[small This small text is small and useful for fine print, etc]. Here is an abbreviation #[abbr(title="HyperText Markup Language") HTML]. #[q(cite='http://yis.li/html-q') This text is a short inline quotation.] #[cite This is a citation.]

p
	| The #[dfn dfn element] indicates a definition. The #[mark mark element] indicates a highlight. Here is a #[var variable element], such as #[var x] = #[var y]. This is #[sup superscript] text and this is #[sub subscript] text. This is a time element: #[time(datetime="2013-04-06T12:32+00:00") 2 weeks ago]. This is code: <code>for (;;) { #{'...'} }</code> and this is #[samp Sample Output]. Finally, this is a #[a(href='#' link) link].
