//- Home

extends partials/_base

block content

	h1 WooooHoooo!

	p.
		Welcome to #{project}!!
	//- If you're not using gulp-data, This variable will not render.

	h2 What's involved?
	img(src='images/npm-logo.png', alt='Gulp Logo')

	img(src='images/gulp-logo.png', alt='Gulp Logo')

	img(src='images/sass-logo.png', alt='Gulp Logo')

	img(src='images/pug-logo.png', alt='Gulp Logo')
