// burger
// ==================================================

@mixin burger {
	padding: $burger-padding-y $burger-padding-x;
	display: inline-block;
	cursor: pointer;

	transition-property: opacity, filter;
	transition-duration: $burger-hover-transition-duration;
	transition-timing-function: $burger-hover-transition-timing-function;

	// Normalize (<button>)
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;

	&:hover {
		@if $burger-hover-use-filter == true {
			filter: $burger-hover-filter;
		}
		@else {
			opacity: $burger-hover-opacity;
		}
	}
}

@if index($burger-base-classes, burger) {
	.burger {
		@include burger;
	}
}

// -------------------------------------

@mixin burger-box {
	width: $burger-layer-width;
	height: $burger-layer-height * 3 + $burger-layer-spacing * 2;
	display: inline-block;
	position: relative;
	background-color: $burger-background-color;
}

@if index($burger-base-classes, burger-box) {
	.burger-box {
		@include burger-box;
	}
}

// -------------------------------------

@mixin burger-inner {
	display: block;
	top: 50%;
	margin-top: $burger-layer-height / -2;

	&,
	&::before,
	&::after {
		width: $burger-layer-width;
		height: $burger-layer-height;
		background-color: $burger-layer-color;
		border-radius: $burger-layer-border-radius;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}

	&::before,
	&::after {
		content: "";
		display: block;
	}

	&::before {
		top: ($burger-layer-spacing + $burger-layer-height) * -1;
	}

	&::after {
		bottom: ($burger-layer-spacing + $burger-layer-height) * -1;
	}
}

@if index($burger-base-classes, burger-inner) {
	.burger-inner {
		@include burger-inner;
	}
}
