//- Site Header
//- -----------------------------------------------------------------

header#header
	a(href='/')
		img(src='http://via.placeholder.com/150x150' alt='This is some alt text')
		//- +svg_logo

	//- Main Site Nav
	include _nav
